header{
    background-color: #114911 ;
    font-family: 'Monotype Corsiva', cursive;
}
body{
    background-color: #67974b;
    text-align: center;
    color: #442105;
}
#navbar{
    background-color: #114911;
    text-align: center;
    color: #442105;
    text-decoration: none;
}
#container{
    background: color ;;
    text-align: center;
    text-decoration: none;
    color: #442105;
}
h2 {
    background-color: #67974b;
    text-align: center;
    text-decoration: underline;
}
p {
    background-color:  #67974b;
    text-align:center;
    font-family: 'Monotype Corsiva', cursive;
}