header{
    background-color:#e67416 ;
    font-family: 'Monotype Corsiva', cursive;
    
        
}
body{
    background-color: #67974b;
    text-align: center;
    color: #e67416;
}
#navbar{
    background-color: #e67416;
    text-align: center;
    color: black;
    text-decoration: none;
}
#container{
    background: color ;;
    text-align: center;
    text-decoration: none;
    color: #442906;
}
h2 {
    background-color: #67974b;
    text-align: center;
    text-decoration: underline;
}
p {
    background-color:  #67974b;
    text-align:center;
    font-family: 'Monotype Corsiva', cursive;
}